beautifulsoup4==4.13.0
docker==7.1.0
ffmpeg-python==0.2.0
flask==3.1.0
minio==7.2.2
opentelemetry-sdk==1.18.0
opentelemetry-exporter-otlp==1.18.0
opentelemetry-instrumentation-flask==0.39b0
opentelemetry-instrumentation-requests==0.39b0
requests[socks]==2.32.3
yt-dlp==2025.1.26
