name: docker-build
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Update package lists
        run: sudo apt-get update
      - name: Install ffmpeg
        run: sudo apt-get install -y --no-install-recommends ffmpeg
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Install test dependencies
        run: python -m pip install pytest
      - name: Run tests
        run: python -m pytest
  docker-build:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: jemand771/docker-build-action@main
        with:
          GITHUB_TOKEN: ${{ github.token }}
          push_strategy: ${{ github.event_name == 'pull_request' && 'artifact' || 'push' }}
          platforms: linux/amd64
