name: docker-build
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      minio:
        # bitnami image because github actions doesn't support passing a command (`server /data`)
        image: bitnami/minio
        ports:
          - 9080:9000
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install ffmpeg
        run: sudo apt-get install -y --no-install-recommends ffmpeg
      - name: Install dependencies
        run: python -m pip install -r requirements.txt
      - name: Install test dependencies
        run: python -m pip install pytest
      - name: Run tests
        run: pytest test
  docker-build:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: jemand771/docker-build-action@main
        with:
          GITHUB_TOKEN: ${{ github.token }}
          push_strategy: ${{ github.event_name == 'pull_request' && 'artifact' || 'push' }}
          platforms: linux/amd64
